/* basic css stuff */

.spp-zindex { // on image moddule
	img {
		z-index: -1;
	}

}
ul.spp-leaf-list {
		list-style-image: url("./images/list-icon.png");
		li {
			padding-bottom: 5px;
		}
}

.btn-inline {
	.et_pb_button_module_wrapper {
    display: inline-block;
    margin: 0 5px;
	}

}
