/* basic css stuff */

.spp-zindex { // on image moddule
	img {
		z-index: -1;
	}

}
ul.spp-leaf-list {
		list-style-image: url("./images/list-icon.png");
		li {
			padding-bottom: 5px;
		}
}

.btn-inline {
	.et_pb_button_module_wrapper {
    display: inline-block;
    margin: 0 5px;
	}

}

.spp-gallery-space {
	.et_pb_gallery_items {
		.et_pb_gallery_item  {
			.et_pb_gallery_image {
				margin-left: 8px;
				margin-bottom: 8px;
			}
		}
	}

}
