/* **** media **** */
/*------------------------------------------------*/
/*---------------[RESPONSIVE LAYOUTS]-------------*/
/*------------------------------------------------*/

@media only screen and ( min-width: 881px ) {
  #footer-widgets {
    display: flex;
    justify-content: space-between;
    .footer-widget {
      flex-grow: 1;
      margin-right: 0px;
      width: fit-content;
    }
  }
}

/*-------------------[960px]------------------*/
@media only screen and ( min-width: 881px ) and ( max-width: 1100px ) {
}

@media all and ( min-width: 881px ) and ( max-width: 1405px) {

}

/*-------------------[768px]------------------*/
@media only screen and ( max-width: 980px ) {

	/*-------------------[Portfolio]------------------*/

	/*-------------------[Sliders]------------------*/

	/*-------------------[Menu]------------------*/

}

@media only screen and ( min-width: 768px ) and ( max-width: 980px ) {

}

@media screen and ( max-width: 782px ) {

}


@media only screen and ( max-width: 767px ) {

  .spp-homepage-slider { // at mobile
    .et_pb_slide_description {
        padding-top: 200px!important; //

    }
  }

}

/*-------------------[320px]------------------*/
@media only screen and ( max-width: 479px ) {
  .spp-homepage-slider { // at mobile
    .et_pb_slide_description {
        padding-top: 90px!important; //

    }
  }
}
