/* styling for reach CTA's */

// spp_under_content_area

#reach-under-content-wrap {
  padding: 20px 0;
  -webkit-box-shadow: 0 -1px 0 rgba(0,0,0,.1);
   -moz-box-shadow: 0 -1px 0 rgba(0,0,0,.1);
    box-shadow:0 -1px 0 rgba(0,0,0,.1); 
}
